:root {
  --base-100: #fefbef;
  --base-200: #fdf8e7;
  --base-300: #fcf1cd;
  --base-400: #f4d35e;
  --base-500: #dcbe55;
  --base-600: #c3a94b;
  --base-700: #b79e47;
  --base-800: #927f38;
  --base-900: #6e5f2a;
  --base-1000: #554a21;

  --grey-100: #f9f9f9;
  --grey-200: #f6f6f6;
  --grey-300: #edeced;
  --grey-400: #c5c3c6;
  --grey-500: #b1b0b2;
  --grey-600: #9e9c9e;
  --grey-700: #949295;
  --grey-800: #767577;
  --grey-900: #595859;
  --grey-1000: #454445;
}
